body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.btn-outline-nav {
    color: rgb(175, 12, 7);
    border-color: rgb(175, 12, 7);
}

.btn-outline-nav:hover {
    background: rgb(175, 12, 7);
}